*{
    padding: 0%;
    margin: 0%;
}

header{
    height: 750px;
    background-image: url("multimedia/Fotos/portada.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

header h1{
    padding-top: 90px;
    font-size: 50px !important;
    font-family: 'Alex Brush', cursive;
    letter-spacing: inherit;
    color: white;
    margin: 0%;
    
}

header p{
    font-size: 20px;
    color: white;
    font-family: 'Cormorant Garamond';

}

div{
    margin: 50px;
}

h1, h2, h3, p, a{
    text-align: center;
}

h1{  
    font-family: 'Cormorant Garamond';
    font-weight: inherit;
    font-size: 30px !important;
    width: 100%;
    letter-spacing: 0.2em;
}

#inicio h2{
    font-family: 'Alex Brush', cursive;
    font-weight: inherit;
    font-size: 55px;
    color: #eed9be;
    margin: 65px 0px;
}

#inicio h3{
    font-size: xxx-large;
    font-weight: initial;
    font-family: 'Cormorant Garamond';
    margin: 0%;
}

#inicio h4{
    font-size: 100px;
    font-family: 'Herr Von Muellerhoff';
    font-weight: initial;
    text-align: center;
    color: #efdabf;
    height: 106px;
    margin: 0%;
}

a{
    margin-left: 25%;
}


#musica{
    margin-top: 30px;
    margin-left: 10%;
    width: 80%;
    height: 30px;
}

#caja{
    margin: 20px 0px;
}

#mensaje{
    margin: 0%;
}

#mensaje h5{
    font-size: 18px;
    font-family: 'Cormorant Garamond';
    padding: 30px;
    text-align: center;
    margin: 70px 0px;
}

#mensaje h4{
    background-color: #fff0da;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond';
    margin: 70px 0px;
}

#cuenta{
    display: flex;
    justify-content: center;
    margin: 30px;
}

#cuenta div{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.simply-amount{
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 7px 1px #efdabf;
}


#horarios{
    background-position: 600px;
    background-position-y: 145px;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(multimedia/Descarga\(1\).jpeg);
    margin: 80px 0px;
}

#horarios h2{
    font-family: 'Cormorant Garamond';
    font-size: xx-large;   
}

#horarios img{
    height: 100px;
    width: 100px;
}

#horarios a{
    text-decoration: none;
}

#dia_hora{
    font-family: 'Lora', serif;
    font-weight: inherit;
    font-size: x-large;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    margin-top: 25px;
}

#celebracion, #ceremonia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ubicacion_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ubicacion{
    text-align: center;
    width: 50%;
    margin-left: 0px;
    margin-top: 25px;
    padding: 15px;
    background-color: #f1d6ae;
    color: aliceblue;
    border-radius: 5px;
}

#itinerario{
    width: 90% !important;
    height: 600px !important;
    margin: 5%;
}

#fondo{
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("multimedia/Descarga\(2\).jpeg");
    background-position-y: 202px;
    background-position-x: -99px;
    background-repeat: no-repeat;
    margin: 80px 0px;
}


#vestimenta{
    margin: 0%;
    margin-bottom: 80px;
}

#vestimenta h2{
    margin-top: 50px;
    font-family: 'Cormorant Garamond';
    text-transform: uppercase;
    font-size: 25px;
}

#mujerHombre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0%;
    margin-top: 20px;
}

#mujerHombre img{
    margin-bottom: 10px;
    width: 30%;
}

#mujerHombre h4{
    font-weight: bolder;
    font-family: 'Cormorant Garamond';
    letter-spacing: 0.2rem;
    color: #c9a38b;
    font-size: x-large;
}

#mujerHombre p{
    font-size: 18px;
    font-family: 'Cormorant Garamond';
}



.nose{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}


.nose img{
    height: 50px;
    margin-bottom: 30px;
}

.nose h3{
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond';
    font-size: x-large;
    letter-spacing: 0.5rem;
    margin: 0%;
}

.nose p{
    font-size: 19px;
    font-family: 'Cormorant Garamond';
}


#carta{
    height: 48px !important;
    width: 48px;
    margin: 0%;
}

#efectivo{
    text-align: center;
    width: 50%;
    margin-left: 0px;
    margin-top: 25px;
    padding: 10px;
    background-color: #f1d6ae;
    color: aliceblue;
    border-radius: 5px;
}


#pase, #idModal{
    background-color: rgba(230, 230, 230, 0.9);
}

.modal, .modal-content, .modal-footer{
    margin: 0%;
    padding: 0%;
    width: 70%;
}

.modal-overlay{
    margin: 0px;
}

.modal-content{
    margin: 0%;
    padding: 0%;
    width: 90%;
}

.modal-content div{
    margin: 15px;
    width: 100%;
}

.modal-content div p{
    text-align: left;
    font-family: sans-serif;
}

.modal-content div img{
    width: 100%;
    height: 250px;
}

.modal-pase div p{
    text-align: center;
    font-family: 'Cormorant Garamond';
}


#fondo2{
    margin: 0%;
    background-position: 600px;
    background-position-y: 41px;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(multimedia/Descarga\(1\).jpeg);
    height: 575px;
}




#asistencia{
    height: 200px;
    text-align: center;
    margin-top: 100px;
}

#asistencia h2{
    font-family: 'Cormorant Garamond';
    font-weight: bolder;
    font-size: x-large;
}

#asistencia p{
    margin-top: 20px;
    text-align: center;
    font-family: 'Cormorant Garamond';
    font-size: 19px;
}

#contacto{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 50px;
}

#contacto a{
    text-align: center;
    font-size: 14px;
    padding: 15px;
    margin-left: 0px;
    background-color: #f1d6ae;;
    color: aliceblue;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Cormorant Garamond';
    font-weight: bolder;
    margin: 5px 0px;
}


#caja_album{
    height: 400px;
    margin: 0px;
    margin-top: 150px;
    padding: 20px;
    background-color: #f1dfc8;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#caja_album a{
    width: 35%;
    padding: 10px;
    text-decoration: none;
    font-family: 'Cormorant Garamond';
    border-radius: 10px;
    color: white;
    background-color: #8bc34a;
    border: white solid;
    margin: 0px;
}

#caja_album h3{
    font-size: medium;
    padding: 0% 15%;
    margin-bottom: 0px;
    font-family: 'Cormorant Garamond';
    font-weight: bolder;
    letter-spacing: 0.5rem;
}

#caja_album h4{
    font-size: medium;
    padding: 0% 15%;
    margin-top: 0px;
    font-family: 'Cormorant Garamond';
}

#caja_album img{
    width: 120px;
}

#fotos{
    width: 90%;
    height: 900px;
    margin: 5%;
    margin-bottom: 50px;
    margin-top: 70px;
}

#fotos h3{
    font-family: 'Alex Brush', cursive;

}

#fotos p{
    font-family: 'Cormorant Garamond';
    font-size: larger;
    margin: 50px 0px;
}

.materialboxed{
    width: 41%;
    margin: 15px;
    
}

.imagen1{
    width: 92%;
}

.imagen2, .imagen3{
    float: left;
}
.imagen4, .imagen5{
    float: right;
}

#final{
    text-align: center;
    margin: 20px;
    margin-top: 1500px;
}

#final img{
    width: 50%;
    margin-right: 28px;
}

#final h2{
    font-family: 'Herr Von Muellerhoff';
    font-size: 80px;
    font-weight: inherit;
}

#final h3{
    font-family: 'Alex Brush', cursive;
    font-size: 30px;
    margin-bottom: 50px;
}

#footer{
    height: 20px;
    background-color: #dfb77c;
}


@media screen and (max-width: 950px) {
    
    #fondo2{
        margin: 0%;
        background-position: 450px;
        background-position-y: 41px;
        background-repeat: repeat-x;
        background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(multimedia/Descarga\(1\).jpeg);
        height: 575px;
    }

    #horarios{
        background-position: 513px;
        background-position-y: 145px;
        background-repeat: repeat-x;
        background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(multimedia/Descarga\(1\).jpeg);
        margin: 80px 0px;
    }

    #final{
        text-align: center;
        margin: 20px;
        margin-top: 200px;
    }
    
}